<section class="statistics">
  <article id="average-age">
    <h3>Average Age:</h3>
    <p><%= @average_age %></p>
  </article>
  <article id="average-runtime">
    <h3>Average Runtime:</h3>
    <p><%= @average_runtime %> minutes</p>
  </article>
  <article id="city-list">
    <h3>Cities Represented:</h3>
    <p><%= @city_list.join(", ") %></p>
  </article>
</section>
<% @comedians.each do |comedian| %>
  <section class="comedians" id="comedian-<%= comedian.id %>">
    <article class="comedian-info">
      <img src="<%= comedian.headshot %>" alt="Photo Of <%= comedian.name %>">
      <h4><%= comedian.name %></h4>
      <p>Age: <%= comedian.age %></p>
      <p>City: <%= comedian.birthplace %></p>
    </article>
    <article class="specials">
      <% @specials.each do |special| %>
        <% if special.comedian_id == comedian.id %>
          <section class="special" id="special-#{special.id}">
            <img src="<%= special.thumbnail %>" alt="<%= special.name %> Thumbnail">
            <h5><%= special.name %></h5>
            <p>Runtime: <%= special.runtime %> minutes</p>
          </section>
        <% end %>
      <% end %>
    </article>
  </section>
<% end %>
